/* HEADER */

.header {
  height: 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_logo {
  width: 11.5rem;
  height: 3.2rem;
  background: url(/Home_listing/assets/img/logo.svg);
}

/* MAIN */
.detail_img {
  width: 60rem;
  height: 60rem;
  margin: auto;
}

.detail_title {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 4rem;
  color: #fc5162;
}

.detail_desc {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 2rem;
  color: #061f55;
  margin-top: 2rem;
}

.detail_price {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 6rem;
  color: #061f55;
  margin-top: 4.5rem;
}

.detail_size {
  list-style: none;
  padding: 0;
  display: flex;
  margin-top: 4rem;
}

.detail_size > li:nth-child(1) {
  width: 8rem;
  height: 5rem;
  background: #fc5162;
  border-radius: 20px;

  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 3.2rem;
  color: #ffffff;
  text-align: center;
}

.detail_size > li {
  margin-right: 4rem;
  width: 8rem;
  height: 5rem;
  background: #f5f5f5;
  border-radius: 20px;

  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 3.2rem;
  color: #061f55;
  text-align: center;
}

.detail_button {
  width: 20rem;
  background: #061f55;
  padding: 16px 24px;
  border-radius: 8px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.8rem;
  color: #ffffff;
  text-align: center;
  margin-top: 5rem;
  margin-bottom: 8rem;
}

/* FOOTER */
.bg_footer {
  background: #0b192a;
  width: 100%;
}

.footer_col1 {
  list-style: none;
  padding: 3rem 0;
}

.footer_col1 > li {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 1.4rem;
  color: #d1d9df;
  padding: 0.5rem 0;
}

.footer_col1 > li:nth-child(1) {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 1.6rem;
  color: #ffffff;
  margin-bottom: 1rem;
}

.footer_logo {
  margin-bottom: 2rem;
}
.footer_company {
  list-style: none;
  padding: 3rem 0;
}

.footer_company > li {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 1.4rem;
  color: #d1d9df;
  padding: 0.5rem 0;
}

.footer_company > li:nth-child(1) {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 1.6rem;
  color: #ffffff;
  margin-bottom: 1rem;
}

.footer_contact {
  list-style: none;
  padding: 3rem 0;
}

.footer_contact > li {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 1.4rem;
  color: #d1d9df;
  padding: 0.5rem 0;
}

.footer_contact > li:nth-child(1) {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 1.6rem;
  color: #ffffff;
  margin-bottom: 1rem;
}

.footer_col4 {
  padding: 3rem 0;
}
.footer_social_title {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 1.6rem;
  color: #ffffff;
  margin-bottom: 1.5rem;
}

.footer_social {
  display: flex;
  padding: 0;
  margin-left: -2rem;
  text-align: left;
}

.footer_social > li {
  margin: 0 2rem;
}
