<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
</head>
<body>
    <div class="main">
        <header>
            <div class="grid">
                <ul class="list">
                        <li class="list-item">Home</li>
                        <li class="list-item">About Us</li>
                        <li class="list-item">Contact Us</li>
                        <li class="list-item">FAQs</li>
                </ul>
            </div>
        </header>
        <div class="grid">
            <div class="container">
                <div class="hero-image grid_row-reverse">
                    <div class="container-left">
                        <div class="container-left-text">
                            <h1 class='container-left-text-item_title'>NHANH NHƯ SÉT</h1>
                            <p class='container-left-text-item_para'>Đến với game, bạn sẽ được thử sức về kiến thức cũng như độ nhạy bén. Hãy đến với “Nhanh Như Sét” để giải những câu đố và trắc nghiệm kiến thức nào.</P>
                        </div>
                        <div class="container-left-img">
                            <img class='container-left-img-item'src="appstore.png">
                            <img class='container-left-img-item'src="ggplay.png">
                        </div>
                    </div>
    
                    <div class="container-right">
                        <img src='ip.png'>
                    </div>
                </div>

                <div class="feature">
                    <div class="feature-heading">
                        <h2 class='feature-heading-title'>Key Features</h2>
                        <p class='feature-heading-desc'>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    </div>
                    <div class="feature-item-layout">
                        <div class="feature-item">
                            <img class='feature-item-image' src="balo1.png">
                            <div class='feature-item-test'>
                                <h3 class='feature-item-title'>Lorem Ipsum is simply dummy </h3>
                                <p class='feature-item-desc'>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                            </div>
                        </div>

                        <div class="feature-item">
                            <img class='feature-item-image' src="balo2.png">
                            <div class='feature-item-test'>
                                <h3 class='feature-item-title'>Lorem Ipsum is simply dummy </h3>
                                <p class='feature-item-desc'>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                            </div>
                        </div>

                        <div class="feature-item">
                            <img src="balo3.png" class='feature-item-image'>
                            <div class='feature-item-test'>
                                <h3 class='feature-item-title '>Lorem Ipsum is simply dummy </h3>
                                <p class='feature-item-desc'>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid_full-width">
                <footer class="footer"></footer>

            </div>
        </div>
        </div>

        
    </div>
    
</body>
</html>