/* profile */
.profile {
  margin-top: 64px;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
}

.avatar {
  width: 152px;
  height: 202px;
  position: relative;
}

.avatar_bg {
  background-image: url(/CV/img/profile_bg.png);
  background-size: contain;
  width: 79px;
  height: 92.39px;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
}
.avatar_profile {
  width: 133px;
  height: 178px;
  border-radius: 4px;
  border: 0px;
  background-image: url(/CV/img/avatar.png);
  background-size: contain;
  position: absolute;
  left: 19px;
  top: 24px;
}

.profile_infor {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-left: 24px;
}
.profile_infor > .profile_name {
  font-style: normal;
  font-weight: 500;
  font-size: 2rem;
  font-family: "Open Sans", sans-serif;
  list-style: none;
  padding: 0;
}

.profile_infor > .profile_contact {
  font-style: normal;
  font-weight: 300;
  font-size: 1.2rem;
  font-family: "Open Sans", sans-serif;
  list-style: none;
  padding: 0;
}

.profile_infor > .profile_contact > li > i {
  margin-right: 8px;
  padding: 4px 0 4px 0;
  color: #ffd400;
}

/* bio */
.bio {
  margin-top: 50px;
  position: relative;
}

.bio > .quote_first {
  width: 63px;
  height: 54px;
  object-fit: contain;
}

.bio > p {
  margin-top: 8px;
  margin-bottom: 8px;
  font-style: normal;
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 2rem;
  text-align: justify;
}

.bio > .quote_last {
  position: absolute;
  right: 0;
  bottom: -60px;
  width: 63px;
  height: 54px;
  object-fit: contain;
  z-index: -2;
}

/* portfolio */
.portfolio_title {
  display: flex;
}

.portfolio_title--number {
  font-family: Aleo;
  font-style: normal;
  font-weight: 300;
  font-size: 8rem;
  color: #ffd400;
  margin: auto 0;
}

.portfolio_title--text {
  background-color: #fff;
  padding-left: 0.6rem;
  padding-right: 0.8rem;
  margin: 3.5rem 0 auto -0.4em;
}

.portfolio_title--text > h1 {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 2.5rem;
  color: #303030;
}

.portfolio_title--text > h2 {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 1.5rem;
}

.portfolio_content {
  margin-top: 1rem;
  margin-left: 2rem;
}

.portfolio_content > p:before {
  content: "";
  display: inline-block;
  width: 0.8rem;
  height: 1.5rem;
  background-color: #ffd400;
  margin-right: 0.8rem;
}

.portfolio_content > p {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.portfoloio_content--link {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.5rem;
  margin-bottom: 0.8rem;
}

/* WORKING */
.working_title {
  display: flex;
}

.working_title--number {
  font-family: Aleo;
  font-style: normal;
  font-weight: 300;
  font-size: 8rem;
  color: #ffd400;
  margin: auto 0;
}

.working_title--text {
  background-color: #fff;
  padding-left: 0.6rem;
  padding-right: 0.8rem;
  margin: 3.5rem 0 auto -0.4em;
}

.working_title--text > h1 {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 2.5rem;
  color: #303030;
}

.working_title--text > h2 {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 1.5rem;
}

.working_content {
  margin-top: 1rem;
  margin-left: 2rem;
}

.working_content > p:before {
  content: "";
  display: inline-block;
  width: 0.8rem;
  height: 1.5rem;
  background-color: #ffd400;
  margin-right: 0.8rem;
}

.working_content > p {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

/* EDUCATION*/
.education_title {
  display: flex;
}

.education_title--number {
  font-family: Aleo;
  font-style: normal;
  font-weight: 300;
  font-size: 8rem;
  color: #ffd400;
  margin: auto 0;
}

.education_title--text {
  background-color: #fff;
  padding-left: 0.6rem;
  padding-right: 0.8rem;
  margin: 3.5rem 0 auto -0.4em;
}

.education_title--text > h1 {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 2.5rem;
  color: #303030;
}

.education_title--text > h2 {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 1.5rem;
}

/* SKILL SETS*/
.skill_title {
  display: flex;
}

.skill_title--number {
  font-family: Aleo;
  font-style: normal;
  font-weight: 300;
  font-size: 8rem;
  color: #ffd400;
  margin: auto 0;
}

.skill_title--text {
  background-color: #fff;
  padding-left: 0.6rem;
  padding-right: 0.8rem;
  margin: 3.5rem 0 auto -0.4em;
}

.skill_title--text > h1 {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 2.5rem;
  color: #303030;
}

.skill_title--text > h2 {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 1.5rem;
}
