body {
    box-sizing: border-box;
    margin:0;
}

header {
    height:40px;
    background:#DDD;
    margin:0;
}

header > ul {
    list-style: none;
    padding:0;
    display: flex;
    margin:0;
}

header > ul > li {
    margin: auto 16px;
}

a {
    text-decoration: none;
    position: relative;
}

a:hover ul {
    display:block;
}

a > ul {
    width: 100px;
    background:#DDD;
    position: absolute;
    top:150%;
    left:-30%;
    list-style: none;
    padding:0;
    display:none;
}


a > ul > li {
    margin: 8px 16px;
}